html,
body {
  margin: 0;
  height: 100%;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

.split {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.split>div {
  width: 100%;
  height: 100%;
}

#view1 {
  width: 100% !important;
  height: 100% !important;
}

#view2 {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  width: 300px !important;
  height: 300px !important;
  border: 3px solid #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  z-index: 100 !important;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #222;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  text-decoration: underline;
}